/* line 3, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.nav {
  margin-top: 10px;
}

/* line 6, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.nav.nav-pills > li > a:hover {
  background-color: rgba(124, 129, 107, 0.7);
}

/* line 10, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.nav.nav-pills > li > a {
  color: #cbe4e8;
}

/* line 14, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
ul.nav.nav-pills.navbar-right > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: rgba(81, 114, 105, 0.5);
  color: #cbe4e8;
}

/* line 19, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.container-fluid {
  min-height: 50px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /*Chrome,Safari4+*/
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

/* line 28, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
div.page-header {
  border-bottom: none;
  margin-top: 10px;
}

/* line 35, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
body {
  /*background-image: url("http://fc02.deviantart.net/fs70/i/2011/027/4/4/swamp_king_by_candra-d385yis.jpg");*/
  background-image: url(/assets/swamp_king_by_candra-d385yis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'sorts_mill_goudyitalic';
  color: #cbe4e8;
  font-size: 1.4em;
}

/* line 46, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
p {
  font-family: 'sorts_mill_goudyitalic';
  font-size: 1.11em;
}

/* line 50, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
a:link, a:visited {
  color: #cbe4e8;
}

/* line 53, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
p a:hover {
  background: none !important;
  color: #ccc !important;
  text-decoration: none;
}

/* line 62, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
h1 {
  font-family: "penna-swashes";
  font-size: 3.25em;
  color: #7c816b;
}

/* line 68, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
h2 {
  font-family: "penna-swashes";
  color: #7c816b;
  font-size: 2.25em;
  text-shadow: -2px 4px 3px #111;
  font-weight: bold;
}

/* line 76, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
h3 {
  font-family: "penna-swashes";
  font-weight: bold;
  color: #7c816b;
}

/* line 82, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
h4 {
  font-family: "penna-swashes";
  color: #7c816b;
}

/* line 87, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
form .form-control {
  background: rgba(124, 129, 107, 0.7);
  border: 1px solid #1c1f18;
  box-shadow: inset 1px 1px 3px #1c1f18;
  font-family: 'sorts_mill_goudyitalic' cursive;
  color: #cbe4e8;
  border-radius: 10px;
}

/* line 95, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
form textarea {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  min-height: 100px;
}

/* line 103, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
form .btn {
  /*  margin: 0 auto;*/
  float: left;
  display: block;
  background: rgba(81, 114, 105, 0.5);
  color: #ccc;
  font-family: 'sorts_mill_goudyitalic';
}

/* line 111, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
form .btn:hover {
  color: #cbe4e8;
}

/* line 114, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
form .control-label {
  display: none;
}

/* line 118, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.btn {
  margin: 0 auto;
  margin-left: 3px;
  display: block;
  background: rgba(81, 114, 105, 0.7);
  color: #ccc;
  font-family: 'sorts_mill_goudyitalic';
}

/* line 126, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.btn:hover {
  color: #cbe4e8;
}

/* line 129, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.main {
  min-height: 400px;
}

/* line 134, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.tags {
  min-height: 300px;
  padding: 10px 10px;
  background: rgba(124, 129, 107, 0.3);
  box-shadow: inset 0 -30px 25px #1c1f18;
  border-radius: 10px;
  border: none;
}

/* line 145, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.table > tbody > tr > th {
  border-top: none !important;
}

/* line 149, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.tr {
  border-top: 2px solid #1c1f18 !important;
}

/* line 152, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-bottom: 2px solid #1c1f18 !important;
}

/* line 156, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
td {
  border-top: none !important;
  border-bottom: 2px solid #1c1f18 !important;
  min-width: 105px;
}

/* line 161, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
#error_explanation li {
  margin-left: 5px;
  display: block;
}

/* line 168, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.about {
  min-height: 400px;
  padding: 10px 10px;
  background: rgba(124, 129, 107, 0.3);
  box-shadow: inset 0 -30px 25px #1c1f18;
  border-radius: 10px;
  border: none;
}

/* line 176, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.table {
  /* min-height: 400px;*/
  padding: 40px 10px;
  background: rgba(124, 129, 107, 0.3);
  box-shadow: inset 0 -30px 25px #1c1f18;
  border-radius: 10px;
  border: none;
}

/* line 186, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.header-change {
  color: #cbe4e8;
}

/* line 190, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
img:hover {
  opacity: .4;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}

/* line 194, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.tagcloud {
  padding: 3px;
}

/* line 198, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
.footer {
  float: clear !important;
  bottom: 0;
  height: 50px;
  margin-top: 40px;
  color: #cbe4e8;
  padding: 10px 10px;
  background: rgba(124, 129, 107, 0.3);
  box-shadow: inset 0 -30px 25px #1c1f18;
  border-radius: 10px;
  border: none;
}

/* line 210, /Users/wyomingtelford/wdi/assignments/week6/bog/bog_app_lab/app/assets/stylesheets/bog.scss */
div.footer, p {
  color: #cbe4e8;
  font-size: .95em;
}


@font-face {
    font-family: 'penna-swashes;
    font-weight:normal;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */



/* line 1, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
/* line 15, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
/* line 25, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
/* line 31, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
/* line 35, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
/* line 38, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
/* line 42, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 44, /Users/wyomingtelford/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bootstrap-tagsinput-rails-0.4.2.1/vendor/assets/stylesheets/bootstrap-tagsinput.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
